{{extend './layout.html'}}

{{block 'style'}}
{{/block}}

{{block 'content'}}
<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>One Belt, One Road</h1>
    <p>Thoughts, stories and ideas.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/admin/posts-add" role="button"
        >写文章</a
      >
    </p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">站点内容统计：</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>10</strong>篇文章（<strong>2</strong>篇草稿）
          </li>
          <li class="list-group-item"><strong>6</strong>个分类</li>
          <li class="list-group-item">
            <strong>5</strong>条评论（<strong>1</strong>条待审核）
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>
{{/block}}
